* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    background-image: url("/CalcTriangulo/triangulo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: #210909b7;
    border-radius: 8px;
    padding: 30px 15px;
}
.title{
    color: white;
}
.input {
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    font-size: 16px;
}

.btn {
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #BC8078;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

.btn :hover,
.btn:focus{
    outline: none;
    box-shadow: 0 0 0 3px #f09b73ce, 0 0 0
}
.text{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.msg{
   color: white;
   font-size: 18px;
   font-weight: 500;
}
.result{
    color: #f09b73ce;
    font-size: 18px;
    font-weight: 500;
 }